.mainPanel {
  position: relative;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  overflow: overlay;
}

.mainContainer {
  max-width: 1288px;
  margin: auto;
}

.container {
  position: relative;
  margin-top: 30px;
  padding: 0 15px
}